server {
    listen 80;
    listen [::]:80;

    server_name www.{{ domain }} {{ domain }};

    root {{ server_path }}/{{ directory }}/{{ public_directory }};

    index index.php app.php app_dev.php index.html;

    location / {
        # try to serve file directly, fallback to index.php
        try_files $uri /index.php$is_args$args;
    }

    # DEV
    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location ~ \.php$ {
        return 404;
    }

    error_log /var/log/nginx/{{ domain }}-error.log;
    access_log /var/log/nginx/{{ domain }}-access.log;
}
